@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Дата: @DateTime.Now.ToLongDateString()</p>

<p>@(20 + 30)</p>

@{
    string head = "Привет мир!!!";
    head = head + " Добро пожаловать на сайт!";
}
<h3>@head</h3>

@{
    string head1 = "Hello world";
    @*Весь код в пределах блока расценивается как код c#. Однако
        с помощью конструкции @: мы можем в блоке кода выводить на веб-страницу текст:*@
    @: <b>Привет мир!</b>
    head1 = head1 + "!!";
}
<p>@head1</p>

@*Если необходимо вывести значение переменной без каких-либо html-элементов,
    то мы можем использовать специальный снипет <text>*@
@{
    int i = 8;
    <text>@i</text>
}
<text>@(i+1)</text>

@*условные конструкции*@
@{
    string head2 = "Привет мир";
    bool isEnabled = false;
}
@if (isEnabled)
{
    <p>Добро пожаловать</p>
}
else
{
    <p>@head2</p>
}

@*Конструкция switch*@
@{
    int x = 6;
}

@switch (x)
{
    case 5:
        <p>@(x* x)</p>
        break;
    case 6:
        <p>@(x+x)</p>
        break;
}

@functions
{
    public int GetFactorial(int n)
    {
        int result = 1;
        for (int i = 1; i <= n; i++)
            result *= i;
        return result;
    }
}
<div>Факториал числа 6 равен: @GetFactorial(6)</div>